.database-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    /* gap: 100px; */
}
  
.form-container {
    margin-top: 2rem;
    padding: 1rem;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 40%;
    /* width: 300px; */
    /* width: 25%; */
    margin-left: auto;
    margin-right: auto;
}

.database-select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 22px);
    width: 70px;
}

.database-button {
    margin-bottom: 1rem;
    padding: 5px 10px;
    background-color: #282c34;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* width: 50px; */
    box-sizing: border-box;
}

.database-button:hover {
    background-color: #61dafb;
    color: #282c34;
}

.form-field:focus {
    outline: none;
    border-color: #61dafb;
}

.form-input-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: .5rem;
    color: #333;
}

@media (max-width: 768px) {
    .database-container { 
        flex-direction: column;
        gap: 0px; /* does nothing */
    }

    .form-container {
        width: 90%;
    }

    /* I don't think these do anything */
    .form-container {
        flex: 1;
        padding: 0 10px;
    }

    .database-select {
        font-size: 8px;
        width: 60px;
        flex-shrink: 0;
    }

    .database-button {
        /* width: 30px; */
        flex-shrink: 0;
    }
}
  
  

