.league-button {
    padding: 10px;
    width: 15%;
    margin: 1% 5%;
}

.league-component-container {
    padding: 1rem;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1200px) {
    .league-component-container {
        width: 90%;
    }
}
  
  
  

