.league-component-container {
    padding: 1rem;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.team-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.team-info h4, .team-info p {
    margin: 0;
    padding: 0.5rem;
    flex-basis: 48%;
    text-align: center;
}

.league-button-container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
}

.league-button {
    padding: 10px;
    flex: 1;
    max-width: calc(25% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1200px) {
    .league-component-container {
        width: 90%;
    }

    .league-button-container {
        overflow-x: auto;
    }

    .league-button {
        min-width: 15%;
    }
}