

.team-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.team-info h4, .team-info p {
    margin: 0;
    padding: 0.5rem;
    flex-basis: 48%;
    text-align: center;
}

.league-button-container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 4rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.league-button.btn {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1200px) {


    .league-button-container {
        overflow-x: auto;
        gap: 1rem;
        margin-left: auto;
        margin-right: auto;
    }

    .league-button.btn {
        min-width: 15%;
    }
}