.invalid-credentials, .registration-errors {
  color: #ff3860;
  margin-top: 1rem;
}

.account-query {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.register-link, .login-link {
  color: #61dafb;
  text-decoration: underline;
  font-weight: bold;
  margin-left: 0.5rem;
  margin-top: 2rem;
}

.register-link:hover, .login-link:hover {
  text-decoration: none;
  color: #282c34;
} 
