.roster-search-button {
    width: 49%;
    margin-left: 1%;
}

.roster-search-input, .roster-search-select {
    width: 49%;
    margin-right: 1%;
}

.roster-clear-button, .roster-search-button {
    padding: 12px 15px;
}

.roster-component-container {
    padding: 1rem;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1200px) {
    .roster-component-container {
        width: 90%;
    }
}