.search-container {
    display: flex;
    flex-direction: column;
    align-items: stretch; /* changed from 'center' */
}

.stats-select, .stats-button, .stats-filter-select, .stats-filter-input {
    width: 100%;
    margin-bottom: 10px;
}

.table-container {
    width: 100%;
    max-width: 100%;
    overflow: auto;
}