.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  display: block;
  margin: 0 auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.red-highlight {
  color: red;
}

.green-highlight {
  color: green;
}

.yellow-highlight {
  color: yellow;
}

.component-container {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

primary-color{
  color: #00cffd;
}
secondary-color{
  color: #008100;
}
accent-color{
  color: #408500;
}
neutral-color{
  color: #2b2c26;
}
base-100-color{
  color: #142730;
}
info-color{
  color: #00ffff;
}
success-color{
  color: #008f51;
}
warning-color{
  color: #af6b00;
}
error-color{
  color: #ff696e;
}

