.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.red-highlight {
  color: red;
}

.green-highlight {
  color: green;
}

.yellow-highlight {
  color: yellow;
}

.page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  gap: 2%;
}

.component-container {
  padding: 1rem;
  background: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  flex: 1;
  min-width: 29%;
  margin: .5%;
}



/* TABLE STYLES */
table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 4px;
  overflow: hidden;
}

table th, table td {
  padding: 4px 5px;
  text-align: left;
}

table th {
  /* text-align: center; */
  background-color: #f4f4f4;
  color: #333;
  font-weight: bold;
}

table td {
  /* text-align: left; */
  font-size: 14px;
  color: #333;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:hover {
  background-color: #f1f1f1
}

th-width, .td-width {
  width: 100px;
}



/* BUTTON STYLES */
button {
  /* padding: 10px 15px; */
  padding: 10px 15px;
  background-color: #282c34;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

button:hover {
  background-color: #61dafb;
  color: #282c34;
}

.add-remove-button {
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}



/* FORM STYLES */
input {
  margin-bottom: 1rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

input:disabled {
  background-color: #e0e0e0;
  color: #a0a0a0;
}

input:focus {
  outline: none;
  border-color: #61dafb;
}

.form-input-group {
  margin-bottom: 1rem;
}



/* LABEL STYLES */
label {
  display: block;
  margin-bottom: .5rem;
  color: #333;
}


/* SELECT STYLES */
select {
  margin-bottom: 1rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  width: auto;
  box-sizing: border-box
}

select:disabled {
  background-color: #e0e0e0;
  color: #a0a0a0;
}

select:focus {
  outline: none;
  border-color: #61dafb;
}



/* MEDIA QUERIES */
@media (max-width: 1200px) {
  .page-container { 
      justify-content: center;
  }

  .component-container {
    width: 90%;
    min-width: 90%;
    margin: 5% 0;
  }

  table {
    font-size: 10px;
  }
  
  table td {
    font-size: 10px;
    white-space: nowrap;
  }

  button {
    flex-shrink: 0;
    font-size: 10px;
    /* width: 30px; */
  }

  select, input, label {
    font-size: 10px;
  }

  .App-link {
    font-size: 14px;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 10px;
  }

  p {
    font-size: 10px;
  }


}


