.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  display: block;
  margin: 0 auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.red-highlight {
  color: red;
}

.green-highlight {
  color: green;
}

.yellow-highlight {
  color: yellow;
}

.page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 90%;
  gap: 2%;
  margin: 2% auto 2% auto;
}

.home-login-register-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 30%;
  margin: 2% auto 2% auto;
}

.component-container {
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  flex: 1;
}

.horizontal-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.custom-input::placeholder {
  text-align: center;
  color: rgb(220, 231, 235, 0.9);
  margin-right: 16px;
}

.custom-input {
  text-align: left;
}

.custom-input:placeholder-show {
  text-align: center;
}


/* MEDIA QUERIES */
@media (max-width: 1200px) {
  .page-container { 
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-login-register-container {
    width: 90%;
  }

  .component-container {
    width: 100%;
    margin: 2% auto;
  }
}

primary-color{
  color: #00cffd;
}
secondary-color{
  color: #008100;
}
accent-color{
  color: #408500;
}
neutral-color{
  color: #2b2c26;
}
base-100-color{
  color: #142730;
}
info-color{
  color: #00ffff;
}
success-color{
  color: #008f51;
}
warning-color{
  color: #af6b00;
}
error-color{
  color: #ff696e;
}

